VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_USERS_TABLE=
VITE_SUPABASE_ITEMS_TABLE=
VITE_SUPABASE_ITEM_PHOTOS_TABLE=
VITE_SUPABASE_ITEM_BRAND_PROOFS_TABLE=
VITE_SUPABASE_UPLOAD_ERROR_LOGS_TABLE=
VITE_SUPABASE_AWS_UPLOAD_FUNCTION=
VITE_SUPABASE_ADMIN_NOTIFICATION_FUNCTION=
VITE_ADMIN_EMAIL_NOTIFICATIONS_ENABLED=
VITE_AWS_UPLOAD_FOLDER_PREFIX=
